h2 {
    background-color: aliceblue;
    width: 80%;
    height: 50px;
    padding: 10px;
    border: 1px solid gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, button {
    height: 40px;
}

#btArea >button{
    width: 150px;
    background-color: blueviolet;
}

